<!DOCTYPE html><html><head><title>GamePad test</title>
<meta name="viewport" content="width=device-width, user-scalable=no">
<meta charset="utf-8"></head><body>

<script src="../lib/WebModule.js"></script>
<script>
//publish to global. eg: window.WebModule.Class -> window.Class
WebModule.publish = true;
</script>

__MODULES__
__WMTOOLS__
__SOURCES__
__OUTPUT__
__TEST_CASE__

<style>canvas { background: #eeeeee; }</style>
<p><canvas id="canvas" width="800" height="200"></p>
<div id="log" style="position:absolute;top:0;left:0;width:300px;height:500px;">
</div>
<script>

var ctx = document.getElementById("canvas").getContext("2d");

var players = [{
        x:  100.0,
        y:  175.0,
        velocity: { x: 0.0, y: 0.0 },
        highJump: -12.0, // 大ジャンプの到達点
        lowJump:  -4.0,  // 小ジャンプの高さ
        onGround: false  // 地面に接しているか
    }, {
        x:  100.0,
        y:  175.0,
        velocity: { x: 0.0, y: 0.0 },
        highJump: -12.0, // 大ジャンプの到達点
        lowJump:  -4.0,  // 小ジャンプの高さ
        onGround: false  // 地面に接しているか
    }, {
        x:  100.0,
        y:  175.0,
        velocity: { x: 0.0, y: 0.0 },
        highJump: -12.0, // 大ジャンプの到達点
        lowJump:  -4.0,  // 小ジャンプの高さ
        onGround: false  // 地面に接しているか
    }, {
        x:  100.0,
        y:  175.0,
        velocity: { x: 0.0, y: 0.0 },
        highJump: -12.0, // 大ジャンプの到達点
        lowJump:  -4.0,  // 小ジャンプの高さ
        onGround: false  // 地面に接しているか
    }, {
        x:  100.0,
        y:  175.0,
        velocity: { x: 0.0, y: 0.0 },
        highJump: -12.0, // 大ジャンプの到達点
        lowJump:  -4.0,  // 小ジャンプの高さ
        onGround: false  // 地面に接しているか
    }];

var scene = {
        gravity: { x: 0.0, y: 0.5 }
    };


GamePads.VERBOSE = true;

var keyBuffer       = new Uint8Array(10 * 60 * 60); // 10min * 60sec * 60frame * 4bytes = 140KB
var keyBufferCursor = 0;

function _addKeyBuffer(pad) {
    keyBuffer[keyBufferCursor++] = pad.value.U32;

    if (keyBufferCursor >= keyBuffer.length) {
        keyBufferCursor = 0;
    }
}

var pads = new GamePads(function(player) {
    if (player === 0) {
        setTimeout(function() {
            // add Controller I tracer
            pads[4] = new GamePadPlayer(keyBuffer);
        }, 3000);
    }
}, function(player) {
    //
});


function startJump(player, ratio) {
    if (player.onGround) {
        player.onGround = false;
        player.velocity.y = player.highJump * ratio;
    }
}

function endJump(player) {
    if (player.velocity.y < player.lowJump) { // 押下時間が満たない場合は、小ジャンプに
        player.velocity.y = player.lowJump;
    }
}

function gameLoop() {
    if (pads.active) {
        pads.scan();

        if (pads[0]) { input(players[0], pads[0]); _addKeyBuffer(pads[0]); }
        if (pads[1]) { input(players[1], pads[1]); }
        if (pads[2]) { input(players[2], pads[2]); }
        if (pads[3]) { input(players[3], pads[3]); }
        if (pads[4]) { input(players[4], pads[4]); }
    }

    update(players[0]);
    update(players[1]);
    update(players[2]);
    update(players[3]);
    update(players[4]);

    render();

    requestAnimationFrame(gameLoop);
}

gameLoop();

function input(player, pad) {
    //gamepad.scan();

    var curt = pad.value; // current value. { U:UINT8, R:UINT8, ... R2:UINT8 }
    var edge = pad.edge;  // detection of edge. { U:Boolean, R:Boolean, ... R2:Boolean }

    //console.log(JSON.stringify(curt));

    // --- B DASH ---
    var dash  = curt.X || curt.B;
    var ratio = dash ? 1.5 : 1; // ダッシュ中は普段の1.5倍速で動作可能

    // --- Jump ---
    if (edge.A || edge.Y) {
        if (curt.A || curt.Y) { // A BUTTON OFF -> ON
            startJump(player, ratio);
        } else {                // A BUTTON ON -> OFF
            endJump(player);
        }
    }


    // --- D-PAD ---
    if (curt.L) {
        player.velocity.x -= 2 * ratio;
        if (player.velocity.x <= -4 * ratio) {
            player.velocity.x  = -4 * ratio;
        }
    } else if (curt.R) {
        player.velocity.x += 2 * ratio;
        if (player.velocity.x >= 4 * ratio) {
            player.velocity.x  = 4 * ratio;
        }
    }

    //console.log(JSON.stringify(curt));
}

function update(player) {
    player.velocity.x += scene.gravity.x; // 重力方向に速度を加速
    player.velocity.y += scene.gravity.y; // 重力方向に速度を加速
    player.y += player.velocity.y;        // 座標に速度を加算
    player.x += player.velocity.x;        // 座標に速度を加算

    if (player.y > 175.0) { // 地面との接触
        player.y = 175.0;
        player.velocity.y = 0.0;
        player.onGround = true;
    }

    if (player.onGround) { // 地面の摩擦
        if (player.velocity.x >= 0) {
            player.velocity.x >>= 1;
        } else {
            player.velocity.x = -(-player.velocity.x >> 1); // 負の値は反転してからビットシフト
        }
    }
}

function render() {
    ctx.clearRect(0, 0, 800, 200);

    ctx.beginPath();
    ctx.moveTo(0,175);
    ctx.lineTo(800,175);
    ctx.strokeStyle = "black";
    ctx.stroke();

    ctx.strokeStyle = "blue";
    ctx.strokeRect(players[0].x - 10, players[0].y - 20, 20, 20);

    ctx.strokeStyle = "red";
    ctx.strokeRect(players[1].x - 10, players[1].y - 20, 20, 20);

    ctx.strokeStyle = "pink";
    ctx.strokeRect(players[2].x - 10, players[2].y - 20, 20, 20);

    ctx.strokeStyle = "yellow";
    ctx.strokeRect(players[3].x - 10, players[3].y - 20, 20, 20);

    ctx.fillStyle = "black";
    ctx.fillRect(players[4].x - 10, players[4].y - 20, 20, 20);
}
</script>
</body></html>

